<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <nav class="days">
        <ul class="center">
          <li><a href="/monday">Lunes</a></li>
          <li><a href="/tuesday">Martes</a></li>
          <li><a href="/wednesday">Miércoles</a></li>
          <li><a href="/thursday">Jueves</a></li>
          <li><a href="/friday">Viernes</a></li>
          <li><a href="/saturday">Sábado</a></li>
          <li><a href="/sunday">Domingo</a></li>
        </ul>
      </nav>
    </main>
  </body>
</html>
