<header>
    <div class="logo center">
      <a href="/"><img class="logo__img" src="/images/field-football_icon-icons.com_66627.png" alt="Logo"></a>
    </div>
    <div class="menu center">
      <img class="menu__burger" src="/images/menu.png" alt="Menu">
    </div>
    
  </header>
  <nav class="days hide">
    <ul class="center">
      <li><a href="/monday">Lunes</a></li>
      <li><a href="/tuesday">Martes</a></li>
      <li><a href="/wednesday">Miércoles</a></li>
      <li><a href="/thursday">Jueves</a></li>
      <li><a href="/friday">Viernes</a></li>
      <li><a href="/saturday">Sábado</a></li>
      <li><a href="/sunday">Domingo</a></li>
    </ul>
  </nav>